@import "tailwindcss";


.active hr{
    @apply block
}

::-wibkit-scrollbar{
    @apply hidden
}

/* In your global CSS (e.g., styles.css or globals.css) */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
